[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap4 = "*"
django = "==2.2.8"
python-dotenv = "*"
pathlib = "*"
pillow = "*"
psycopg2 = "*"
whitenoise = "*"
django-heroku = "*"
dj-database-url = "*"
config = "*"
python-decouple = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
